section.places h1 {
  font-size: 30px;
  margin: 40px 0 0 0;
}
section.places .places-list {
  display: flex;
  flex-wrap: wrap;
}
section.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  box-sizing: border-box;
}
section.places article h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
}
